// +-----------------------------------------------------------+
//                     Configuration file
// +-----------------------------------------------------------+

// ##Define color variables
// #primary
$primary-white: hsl(0, 0%, 100%);
$primary-black: hsl(0, 0%, 0%);
$primary-dark-Gray: hsl(0, 0%, 55%);
$primary-verydark-Gray: hsl(0, 0%, 41%);

// ##Define fonts variables
$primary-font: "Alata", sans-serif;
$secondary-font: "Josefin Sans", sans-serif;
$base-font-size: 16px;
$body-font-size: 15px;

//##Define padding variable
$mobile-side-padding: 6.4vw;
$mobile-top-padding: 10.667vw;
$mobile-main-top-padding: 25.6vw;
