// +-----------------------------------------------------------+
//                     Header Configuration file
// +-----------------------------------------------------------+

.header {
  padding: $mobile-side-padding $mobile-side-padding $mobile-top-padding;
  background-image: url("../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 173.467vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: $mobile-top-padding $mobile-side-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logo {
      width: 50vw;
      max-width: 24rem;
    }

    .header__burger-btn__img {
      height: auto;
      width: 6.4vw;
    }
  }

  &__title {
    color: $primary-white;
    border: 2px solid $primary-white;
    text-align: left;
    height: auto;
    width: 100%;
    padding: 6.667vw 6.667vw 5.333vw 6.667vw;
    font-size: 10.24vw;
    text-transform: uppercase;
    font-family: $secondary-font;
    line-height: 1;
    margin-top: 4.267vw;
  }
}

// +-----------------------------------------------------------+
//                      Media Queries Header
// +-----------------------------------------------------------+

@media (min-width: 751px) {
  .header {
    background-image: url("../images/desktop/image-hero.jpg");
    box-shadow: inset 100vw 0 10vw rgba(0, 0, 0, 0.3); /* Ombre intérieure côté gauche */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 40.625rem;
    position: relative;
    padding: 0;

    &__nav {
      width: 100%;
      padding: 0;
      height: auto;
      max-width: 100%;

      .header__logo {
        display: none !important;
      }

      #burger-btn {
        display: none;
      }
    }

    &__title {
      color: $primary-white;
      border: 2px solid $primary-white;
      text-align: left;
      height: auto;
      width: fit-content;
      padding: clamp(20px, 2.7vw, 2rem) clamp(18px, 5.9vw, 8rem)
        clamp(20px, 2vw, 2rem) clamp(18px, 2.4vw, 4rem);
      font-size: clamp(1.125rem, 4.944vw, 4rem);
      text-transform: uppercase;
      font-family: $secondary-font;
      line-height: 1;
      margin-top: 4.8rem;
      margin-left: clamp(11.528vw, 11.582vw, 15rem);
      position: relative;
      letter-spacing: -0.01rem;
      max-width: 64rem;
      max-height: 30rem;
    }

    .header__title br:nth-of-type(3) {
      // Trick to cut the third break
      display: none;
    }
  }
}
