// +-----------------------------------------------------------+
//                     Main styling scss file
// +-----------------------------------------------------------+

@import "reset";
@import "config";
@import "utilities";
@import "fonts";
@import "buttons";
@import "header";
@import "menu";
@import "main";
@import "footer";

body {
  height: 100%;
  max-height: 6434px;
}

// +-----------------------------------------------------------+
//                      Media Queries Body
// +-----------------------------------------------------------+

@media (min-width: 751px) {
  body {
    max-height: 2896px !important;
    height: 2896px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
